body {
    font-family: Monospace;
    margin: 30px;
    background-color: #090e13;
    color: #c5c5c5;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1, h2 {
    color: #63b3ff;
}

main {
    margin: 0 25%;
}

@media only screen and (max-width: 800px) {
    main {
        margin: 0;
}
}

section {
    background-color: #181e24;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.book-item {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.book-item:last-child {
    border-bottom: none;
}

.book-item img {
    margin-right: 15px;
    border-radius: 4px;
}

.book-details h3 {
    margin: 0 0 5px 0;
    color: #bbbbbb;
}

.book-details p {
    margin: 0;
    font-size: 0.9em;
    color: #9e9e9e;
}

a:link {
    color: aliceblue;
}

a:visited {
    color: rgb(202, 202, 202);
}

a:hover {
    color: rgb(183, 221, 252);
}

a:active  {
    color: rgb(183, 221, 252);
}

.books-list.hidden {
    display: none;
}


.year-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ffffff00;
    color: white;
    border: none;
    border-radius: 4px;
}

.toggle-button:hover {
    background-color: #0056b3;
}
